.dashboard {
  display: flex;
  gap: 20px;
}

.dashboard--content {
  background-color: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .dashboard--content {
    display: flex;
    flex-direction: row;
    width: 79%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
  }
  .dashboard {
    display: flex;
    flex-direction: column;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  height: 94vh;
}

.logo {
  text-align: center;
  padding: 20px;
  color: #27374d;
  align-items: center;
  display: flex;
  gap: 20px;
}

.logo-icon {
  font-size: 1.4rem;
}

.menu--list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu--list .item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color: #27374d;
}

.menu--list .item:hover,
.active {
  background: #27374d;
  color: #dde6ed !important;
}

.menu--list .item1:hover {
  background: blue;
  color: #dde6ed;
}
.menu--list .item2:hover {
  background: rgb(194, 194, 248);
  color: #07131b;
  text-decoration-color: #04080b;
}
.menu--list .item3:hover {
  background: rgb(255, 72, 0);
  color: #04080b;
}
.menu--list .item4:hover {
  background: rgb(230, 16, 98);
  color: #dde6ed;
}
.menu--list .item5:hover {
  background: rgb(167, 72, 255);
  color: #0c151b;
}
